.filter-body {
  position: relative;
  margin-bottom: 60px;
  .no__found{
    background: #efb7b7;
    display: block;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-size: 21px;
    margin-top: 17px;
  }
  .ui-accordion-header-icon{
    position: absolute;
    right: 50px;
    top: 13px;
    text-indent:1px;
  }
  .ui-accordion-header-active{
    background: #9B9B9B!important;
  }
  .filderAjax{
      display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__col__row{
      border: 1px solid #f1f1f1;
      border-right: none;
      border-left: none;
      padding: 8px 0;
      .filderAjax__col__item{
        font-weight: 600;
        font-size: 16px;
        color: #000;
        .buy-btn{
          background: url("../img/basket.png") center center no-repeat;
          position: relative;
          background-size: 20px 16px;
          display: inline-block;
          width: 20px;
          height: 20px;
          padding: 15px 25px;
          border: 1px solid transparent;
          transition: background 0.4s;
          &:hover{
            border: 1px solid rgba(125, 125, 125, 0.53);
            border-radius: 5px;
            box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.33);
            background: url("../img/basket_hover.png") center center no-repeat;
            background-color: #e8e8e8;
            background-size: 20px 16px;
          }
        }
      }
     .wrapper{
       display: table;
     }
    }
    &__col__item{
      width: 20%;
      display: table-cell;
      vertical-align: middle;
    }
    &__header{
      background: #4B4B4B;
      width: 100%;
      font-weight: bold;
      font-size: 16px;
      color: #FFFFFF;
      padding: 8px 0;

      i{
        font-size: 8px;
        vertical-align: middle;
        padding-right: 8px;
      }
    }
  }
  &__header {
    background: $orange;
    padding: 25px 0;

    .wrapper{
      display: flex;
      justify-content: space-between;
    }
  }
  &__header__col {
    width:auto;
    p{
      font-weight: bold;
      font-size: 16px;
      color: #FFFFFF;
    }
  }
}

.filter-body__header .wrapper{
  display: table;
}

.filderAjax__col__item:last-child, .filter-body__header__col:last-child{
  text-align: center;
}
.buy-btn.in-cart{
  background: url("../img/basket-in.png") center center no-repeat!important;
}
