.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  &__box__input {
    position: relative;
    span{
      font-weight: bold;
      font-size: 16px;
      color: #000;
      padding-bottom: 11px;
      display: inline-block;
    }
    .input__fake{
      width: 260px;
      height: 46px;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.78);
      padding: 0 9px;
      cursor: pointer;
      i{
        font-size: 10px;
      }
      &__plac{
        font-weight: normal;
        font-size: 14px;
        color: #969696;
      }
    }
  }
  &__col__left {
    position: absolute;
    background: #fff;
    /*width: 600px;*/
    display: none;
    justify-content: space-between;
    padding: 20px;
    padding-top: 35px;
    z-index: 8;
    min-width: 100%;

    .title{
      margin-top: -35px;
      margin-bottom: 4px;
      flex: 0 0 150px;
      margin-right: 100%;
    }
  }

  .active__select{
    display: flex;
  }
  &__col {
    label{
      display: flex;
      margin: 10px;
      margin-bottom: 15px;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }
    input[type=checkbox]{
      display: none;
    }

    input[type=checkbox] + span{
      width: 16px;
      height: 16px;
      display: block;
      border: 2px solid $orange;
      margin-right: 8px;
      flex: 0 0 16px;
    }
    &.input_active  span{
      display: block;
      position: relative;

    }
    &.input_active  span:before{
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: $orange;
      display: block;
      left: 17%;
      top: 19%;
    }
  }
  &__center {
    display: flex;
    align-items: center;
    i{
      padding-right: 8px;
      font-size: 20px;
    }
    span{
      font-weight: bold;
      font-size: 16px;
      color: #000000;
    }
  }
  &__center__bag {
    display: flex;
  }
  &__center__bag__left {
    margin-right: 12px;
  }
  &__center__bag__item {
    padding-bottom: 6px;

  }
  &__center__bag__right {
  }
}
.filter__box__diam .filter__col__left{
  width: auto;
  flex-wrap: wrap;
  max-height: 400px;
  min-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(0, 0, 0, 0.3);
  overflow: auto;

  .filter__col.alax_col{
    width: 100%;
  }
  .filter__col{

    label{
      word-break: break-all;
    }
  }
}
.filter__box__name .filter__col label{
  word-break: break-all;
}
.filter__box__name .filter__col__left{
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.filter__box__name .filter__col__left .alax_col{
  width: 100%;
}

.weight-filter{
  width: 90px!important;
}

.filter-body__header__col {
  display: table-cell;
  width: 20%;
}
