{% extends "layout/base.twig" %}
{% block title %}Каталог продукции{% endblock %}

{% block haderbox %}
<div class="header__bg header__bg__catalog">
    {% include "/includes/header.twig" %}
    <header class="catalog">
        <div class="catalog__text__wrap">
            <h1>Каталог продукции</h1>
            <span>Мы всегда реализуем только качественные материалы, а также готовы <br> предоставить выгодные условия для наших клиентов </span>
        </div>
    </header>
</div>

{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="wrapper">
            <a href="/">Главная</a>
            <span>Каталог</span>
        </div>
    </div>
    <div class="wrapper">
        <div class="catalog__body">
            <div class="catalog__body__row">
                <div class="catalog__body__col">
                    <div class="catalog__body__col__header">
                        <h3>Труба</h3>
                        <a href="truby.html">Подробнее</a>
                    </div>
                    <span>01</span>
                </div>
                <div class="catalog__body__col">
                    <div class="catalog__body__col__header">
                        <h3>Лист</h3>
                        <a href="list.html">Подробнее</a>
                    </div>
                    <span>02</span>
                </div>
                <div class="catalog__body__col">
                    <div class="catalog__body__col__header">
                        <h3>Круг</h3>
                        <a href="circle.html">Подробнее</a>
                    </div>
                    <span>03</span>
                </div>
                <div class="catalog__body__col">
                    <div class="catalog__body__col__header">
                        <h3>Шестигранник</h3>
                        <a href="hexagon.html">Подробнее</a>
                    </div>
                    <span>04</span>
                </div>
                <div class="catalog__body__col">
                    <div class="catalog__body__col__header">
                        <h3>Элементы <br>трубопровода</h3>
                        <a href="elements.html">Подробнее</a>
                    </div>
                    <span>05</span>
                </div>
                <div class="catalog__body__col">
                    <div class="catalog__body__col__header">
                        <h3>Специальные <br> предложения</h3>
                        <a href="offers.html">Подробнее</a>
                    </div>
                    <span>06</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
