{% extends "layout/base.twig" %}
{% block title %}Нержавеющий круг{% endblock %}

{% block haderbox %}
    <section class="circle__header">
        <div class="wrapper">
            <div class="truby__text__wrap">
                <h1>Нержавеющий круг</h1>
                <span>Ознакомьтесь с прайс-листом для всей продукции нержавеющий круг</span>
            </div>
            <a class="back__catalog" href="catalog.html"><i class="icon-arrD"></i>Вернуться в каталог</a>
        </div>
    </section>
    <div class="breadcrumbs">
        <div class="wrapper">
            <a href="/">Главная</a>
            <a href="catalog.html">Каталог</a>
            <span>нержавеющий круг</span>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="filter" id="round">
            <div class="filter__box__input filter__box__name">
                <span>Выбрать марку стали:</span>
                <div class="input__fake">
                    <p class="input__fake__plac">Все марки</p>
                    <i class="icon-arrD"></i>
                </div>
                <div class="filter__col__left left__side">
                    <div class="filter__col__left__box">
                        <div class="filter__col title">
                            <label>
                                <input type="checkbox" value="all">
                                <span></span>
                                <p>Все марки</p>
                            </label>
                        </div>
                        <div class="filter__col ">
                            <label>
                                <input type="checkbox" value="08/12Х18Н10Т">
                                <span></span>
                                <p>08/12Х18Н10Т</p>
                            </label>
                        </div>
                        <div class="filter__col ">
                            <label>
                                <input type="checkbox" value="10Х17Н13М2Т">
                                <span></span>
                                <p>10Х17Н13М2Т</p>
                            </label>
                        </div>
                        <div class="filter__col ">
                            <label>
                                <input type="checkbox" value="20Х23Н18 / AISI 310 S">
                                <span></span>
                                <p>20Х23Н18 / AISI 310 S</p>
                            </label>
                        </div>


                    </div>
                    <div class="filter__col__left__box">
                        <div class="filter__col ">
                            <label>
                                <input type="checkbox" value="06ХН28МДТ">
                                <span></span>
                                <p>06ХН28МДТ</p>
                            </label>
                        </div>
                        <div class="filter__col ">
                            <label>
                                <input type="checkbox" value="08Х13 /20Х13 / 30Х13 / 40Х13">
                                <span></span>
                                <p>08Х13 /20Х13 / 30Х13 / 40Х13</p>
                            </label>
                        </div>
                        <div class="filter__col ">
                            <label>
                                <input type="checkbox" value="AISI 316Ti">
                                <span></span>
                                <p>AISI 316Ti</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__box__input filter__box__diam">
                <span>Выбрать диаметр изделия:</span>
                <div class="input__fake">
                    <p class="input__fake__plac">Все диаметры</p>
                    <i class="icon-arrD"></i>
                </div>
                <div class="filter__col__left">

                    <div class="filter__col__left__box">
                        <div class="filter__col title">
                            <label>
                                <input type="checkbox" value="all">
                                <span></span>
                                <p>Всё</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="8">
                                <span></span>
                                <p>8</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="9">
                                <span></span>
                                <p>9</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="10">
                                <span></span>
                                <p>10</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="12">
                                <span></span>
                                <p>12</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="14">
                                <span></span>
                                <p>14</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="15">
                                <span></span>
                                <p>15</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="19">
                                <span></span>
                                <p>19</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="20">
                                <span></span>
                                <p>20</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="22">
                                <span></span>
                                <p>22</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="24">
                                <span></span>
                                <p>24</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="25">
                                <span></span>
                                <p>25</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="26">
                                <span></span>
                                <p>26</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="28">
                                <span></span>
                                <p>28</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="30">
                                <span></span>
                                <p>30</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="32">
                                <span></span>
                                <p>32</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="36">
                                <span></span>
                                <p>36</p>
                            </label>
                        </div>

                    </div>
                    <div class="filter__col__left__box">

                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="40">
                                <span></span>
                                <p>40</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="45">
                                <span></span>
                                <p>45</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="48">
                                <span></span>
                                <p>48</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="50">
                                <span></span>
                                <p>50</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="56">
                                <span></span>
                                <p>56</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="60">
                                <span></span>
                                <p>60</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="65">
                                <span></span>
                                <p>65</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="70">
                                <span></span>
                                <p>70</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="75">
                                <span></span>
                                <p>75</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="80">
                                <span></span>
                                <p>80</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="85">
                                <span></span>
                                <p>85</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="90">
                                <span></span>
                                <p>90</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="94">
                                <span></span>
                                <p>94</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="95">
                                <span></span>
                                <p>95</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="100">
                                <span></span>
                                <p>100</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="102">
                                <span></span>
                                <p>102</p>
                            </label>
                        </div>
                    </div>
                    <div class="filter__col__left__box">

                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="105">
                                <span></span>
                                <p>105</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="110">
                                <span></span>
                                <p>110</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="115">
                                <span></span>
                                <p>115</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="120">
                                <span></span>
                                <p>120</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="130">
                                <span></span>
                                <p>130</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="135">
                                <span></span>
                                <p>135</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="140">
                                <span></span>
                                <p>140</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="150">
                                <span></span>
                                <p>150</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="160">
                                <span></span>
                                <p>160</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="170">
                                <span></span>
                                <p>170</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="180">
                                <span></span>
                                <p>180</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="200">
                                <span></span>
                                <p>200</p>
                            </label>
                        </div>

                    </div>

                </div>
            </div>
            <div class="filter__center">
                <i class=" icon-reload"></i>
                <span>Дата актуализации склада: 5.12.2019</span>
            </div>
            <div class="filter__center__bag">
                <div class="filter__center__bag__left">
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                </div>
                <div class="filter__center__bag__right">
                    <div class="filter__center__bag__item">до 1 тонны</div>
                    <div class="filter__center__bag__item">1 - 3 тонны</div>
                    <div class="filter__center__bag__item">3 - 10 тонны</div>
                    <div class="filter__center__bag__item">10 - 20 тонны</div>
                    <div class="filter__center__bag__item">более 20 тонн</div>
                </div>

            </div>
        </div>
    </div>
    <div class="filter-body">
        <div class="filter-body__header">
            <div class="wrapper">
                <div class="filter-body__header__col">
                    <p>Размер</p>
                </div>
                <div class="filter-body__header__col">
                    <p>Цена с НДС за тонну</p>
                </div>
                <div class="filter-body__header__col">
                    <p>В наличии</p>
                </div>
                <div class="filter-body__header__col">
                    <p>В пути на склад</p>
                </div>
            </div>
        </div>
        <div class="filter-body__center">
            <div class="filter-body__center__innder"></div>
        </div>
    </div>
{% endblock %}
