{% extends "layout/base.twig" %}
{% block title %}Ваша заявка принята!{% endblock %}

{% block haderbox %}
    <section class="contact__header">
        <div class="catalog__text__wrap">
            <h1>Ваша заявка принята!</h1>

        </div>
    </section>
    <div class="breadcrumbs">
        <div class="wrapper">
            <a href="/">Главная</a>
            <span>Спасибо!</span>
        </div>
    </div>


{% endblock %}

{% block content %}
    <div class="thanks__body">
        <h2>Ваша заявка принята!</h2>
    </div>
{% endblock %}
