{% extends "layout/base.twig" %}
{% block title %}Ваша заявка принята!{% endblock %}
{% block haderbox %}
    <div class="header__bg header__bg__contact">
        {% include "/includes/header.twig" %}
        <section class="contact__header">
            <div class="catalog__text__wrap">
                <h1>Ваша заявка принята!</h1>
            </div>
        </section>
    </div>

{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="wrapper">
            <a href="/">Главная</a>
            <span>Спасибо!</span>
        </div>
    </div>
    <div class="thanks__body">
        <h2>Ваша заявка принята!</h2>
    </div>
{% endblock %}
