{% extends "layout/base.twig" %}
{% block title %}Нержавеющая труба{% endblock %}

{% block haderbox %}
    <section class="truby__header">
        <div class="wrapper">
        <div class="truby__text__wrap">
            <h1>Нержавеющая труба</h1>
            <span>Ознакомьтесь с прайс-листом для всей продукции нержавеющей трубы</span>
        </div>
        <a class="back__catalog" href="catalog.html"><i class="icon-arrD"></i>Вернуться в каталог</a>
        </div>
    </section>
    <div class="breadcrumbs">
        <div class="wrapper">
            <a href="/">Главная</a>
            <a href="catalog.html">Каталог</a>
            <span>Труба</span>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="filter" id="tube">
            <div class="filter__box__input filter__box__name">
                <span>Выбрать марку стали:</span>
                <div class="input__fake">
                    <p class="input__fake__plac">Все марки</p>
                    <i class="icon-arrD"></i>
                </div>
                <div class="filter__col__left left__side">
                    <div class="filter__col__left__box">
                        <div class="filter__col title">
                            <label>
                                <input type="checkbox" value="all">
                                <span></span>
                                <p>Все марки</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="08/12Х18Н10Т пр-во Россия">
                                <span></span>
                                <p>08/12Х18Н10Т пр-во Россия</p>
                            </label>
                        </div>

                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="10Х17Н13М2Т пр-во Россия">
                                <span></span>
                                <p>10Х17Н13М2Т пр-во Россия</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="ТР&nbsp;321&nbsp;(08/12Х18Н10Т)&nbsp;КНР">
                                <span></span>
                                <p>ТР&nbsp;321&nbsp;(08/12Х18Н10Т)&nbsp;КНР</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="ТР&nbsp;321&nbsp;(08/12Х18Н10Т)&nbsp;прямошовные">
                                <span></span>
                                <p>ТР&nbsp;321&nbsp;(08/12Х18Н10Т)&nbsp;прямошовные</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="Р5 (15Х5М)">
                                <span></span>
                                <p>Р5 (15Х5М)</p>
                            </label>
                        </div>
                    </div>
                    <div class="filter__col__left__box">
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="08Х18Н10Т&nbsp;ТУ&nbsp;14-3Р-197-2001/14-3-197-89">
                                <span></span>
                                <p>08Х18Н10Т&nbsp;ТУ&nbsp;14-3Р-197-2001/14-3-197-89</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="ТР 904 L (06ХН28МДТ)">
                                <span></span>
                                <p>ТР 904 L (06ХН28МДТ)</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="ТР 310 S (10Х23Н18)">
                                <span></span>
                                <p>ТР 310 S (10Х23Н18)</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="ТР&nbsp;316Ti&nbsp;(10Х17Н13М2Т)&nbsp;КНР">
                                <span></span>
                                <p>ТР&nbsp;316Ti&nbsp;(10Х17Н13М2Т)&nbsp;КНР</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="ТР&nbsp;316/316L&nbsp;(03Х17Н14М2)&nbsp;КНР">
                                <span></span>
                                <p>ТР&nbsp;316/316L&nbsp;(03Х17Н14М2)&nbsp;КНР</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__box__input filter__box__diam">
                <span>Выбрать диаметр изделия:</span>
                <div class="input__fake">
                    <p class="input__fake__plac">Все диаметры</p>
                <i class="icon-arrD"></i>
                </div>
                <div class="filter__col__left">

                    <div class="filter__col__left__box">
                        <div class="filter__col title">
                            <label>
                                <input type="checkbox" value="all">
                                <span></span>
                                <p>Всё</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="2х0,5">
                                <span></span>
                                <p>2х0,5</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="5х0,5">
                                <span></span>
                                <p>5х0,5</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="6х0,6">
                                <span></span>
                                <p>6х0,6</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="6х1,0">
                                <span></span>
                                <p>6х1,0</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="8х1,0">
                                <span></span>
                                <p>8х1,0</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="8х2,0">
                                <span></span>
                                <p>8х2,0</p>
                            </label>
                        </div>

                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="9х1,5">
                                <span></span>
                                <p>9х1,5</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="10х1,0">
                                <span></span>
                                <p>10х1,0</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="10х2,0">
                                <span></span>
                                <p>10х2,0</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="10х2,5">
                                <span></span>
                                <p>10х2,5</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="12х1,0">
                                <span></span>
                                <p>12х1,0</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="12х1,5">
                                <span></span>
                                <p>12х1,5</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="12х2,0">
                                <span></span>
                                <p>12х2,0</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="34">
                                <span></span>
                                <p>34</p>
                            </label>
                        </div>

                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="35">
                                <span></span>
                                <p>35</p>
                            </label>
                        </div>

                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="36">
                                <span></span>
                                <p>36</p>
                            </label>
                        </div>

                    </div>
                    {#end#}
                    <div class="filter__col__left__box">

                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="38">
                                <span></span>
                                <p>38</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="40">
                                <span></span>
                                <p>40</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="42">
                                <span></span>
                                <p>42</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="45">
                                <span></span>
                                <p>45</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="48">
                                <span></span>
                                <p>48</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="50">
                                <span></span>
                                <p>50</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="51">
                                <span></span>
                                <p>51</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="56">
                                <span></span>
                                <p>56</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="57">
                                <span></span>
                                <p>57</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="60">
                                <span></span>
                                <p>60</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="68">
                                <span></span>
                                <p>68</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="70">
                                <span></span>
                                <p>70</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="76">
                                <span></span>
                                <p>76</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="83">
                                <span></span>
                                <p>83</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="89">
                                <span></span>
                                <p>89</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="95">
                                <span></span>
                                <p>95</p>
                            </label>
                        </div>
                    </div>
                    <div class="filter__col__left__box">


                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="102">
                                <span></span>
                                <p>102</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="108">
                                <span></span>
                                <p>108</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="114">
                                <span></span>
                                <p>114</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="120">
                                <span></span>
                                <p>120</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="121">
                                <span></span>
                                <p>121</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="127">
                                <span></span>
                                <p>127</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="130">
                                <span></span>
                                <p>130</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="133">
                                <span></span>
                                <p>133</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="140">
                                <span></span>
                                <p>140</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="152">
                                <span></span>
                                <p>152</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="159">
                                <span></span>
                                <p>159</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="168">
                                <span></span>
                                <p>168</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="170">
                                <span></span>
                                <p>170</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="180">
                                <span></span>
                                <p>180</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="194">
                                <span></span>
                                <p>194</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="200">
                                <span></span>
                                <p>200</p>
                            </label>
                        </div>
                    </div>
                    <div class="filter__col__left__box">



                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="219">
                                <span></span>
                                <p>219</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="220">
                                <span></span>
                                <p>220</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="245">
                                <span></span>
                                <p>245</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="273">
                                <span></span>
                                <p>273</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="325">
                                <span></span>
                                <p>325</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="377">
                                <span></span>
                                <p>377</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="426">
                                <span></span>
                                <p>426</p>
                            </label>
                        </div>
                        <div class="filter__col">
                            <label>
                                <input type="checkbox" value="530">
                                <span></span>
                                <p>530</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__center">
                <i class=" icon-reload"></i>
                <span>Дата актуализации склада: 5.12.2019</span>
            </div>
            <div class="filter__center__bag">
                <div class="filter__center__bag__left">
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                    <div class="filter__center__bag__item">
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                        <i class=" icon-bag"></i>
                    </div>
                </div>
                <div class="filter__center__bag__right">
                    <div class="filter__center__bag__item">до 1 тонны</div>
                    <div class="filter__center__bag__item">1 - 3 тонны</div>
                    <div class="filter__center__bag__item">3 - 10 тонны</div>
                    <div class="filter__center__bag__item">10 - 20 тонны</div>
                    <div class="filter__center__bag__item">более 20 тонн</div>
                </div>

            </div>
        </div>
    </div>
    <div class="filter-body">
        <div class="filter-body__header">
            <div class="wrapper">
                <div class="filter-body__header__col">
                    <p>Размер</p>
                </div>
                <div class="filter-body__header__col">
                    <p>Цена с НДС за тонну</p>
                </div>
                <div class="filter-body__header__col">
                    <p>В наличии</p>
                </div>
                <div class="filter-body__header__col">
                    <p>В пути на склад</p>
                </div>
            </div>
        </div>
        <div class="filter-body__center">
            <div class="filter-body__center__innder"></div>
        </div>
    </div>
{% endblock %}
