.header__bg__contact{
  background-image: url("../img/contact/header-contact.jpg");
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__header{

  &__text__wrap{

    bottom: 40px;
    left: 215px;
    color: #fff;
    h1{
      font-weight: 900;
      font-size: 40px;
      padding-bottom: 25px;
    }
    span{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}