<section class="about">
    <div class="h2__box">
        <h2>О нашей компании</h2>
        <p>Основными потребителями для нас являются предприятия химической, <br>
            нефтехимической, машиностроительной отрасли.</p>
        <img src="img/index/line.svg" alt="line.svg">
    </div>
    <div class="about__row">
        <div class="about__col">
            <div class="about__col__header">
               <i class="icon-trak"></i>
                <span>01</span>
            </div>
            <h3>
                Крупнейший за Уралом <br>
                склад нержавеющего <br>
                металлопроката
            </h3>
            <p>
                На сегодняшний день, компания имеет солидную репутацию. <br>
                Собственный склад более 3000 тонн нержавеющего металлопроката
            </p>
        </div>

        <div class="about__col">
            <div class="about__col__header">
               <i class="icon-arr"></i>
                <span>02</span>
            </div>
            <h3>
                Опыт работы более 20 лет
            </h3>
            <p>
                Компания начала свою деятельность в 1996 году. Большое складское наличие товара позволяет удовлетворить в кратчайшие сроки потребности большинства предприятий.
            </p>
        </div>

        <div class="about__col">
            <div class="about__col__header">
                <i class="icon-money"></i>
                <span>03</span>
            </div>
            <h3>
                Выгодные цены <br>
                и высокое качество
            </h3>
            <p>
                Конкурентоспособные цены, высокое качество продукции залог долгосрочных взаимоотношений с нашими клиентами и хорошей репутации на рынке.
            </p>
        </div>

    </div>
</section>
