<div class="header__wrap">
    <div class="header__top__mob">
        <img src="img/logo.png" alt="">
        <div class="hamburger hamburger--3dx">
            <div class="hamburger-box">
                <img id="header__top__mob__logo" src="img/logo.png" alt="logo">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </div>
    <div class="header__top">
        <div class="header__top__flex">
            <img id="logo" src="img/logo.png" alt="logo">
            <div class="hamburger hamburger--3dx is-active">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <div class="header__top__row">
            <div class="header__top__row__top">
                <div class="header__top__row__top__tel__box">
                    <a class="header__top__tel__one" href="tel:+73833195546">+7 (383) 319 55 46</a>
                    <a class="header__top__tel__two" href="tel:+73833195545">+7 (383) 319 55 45</a>
                </div>
                <a class="header__top__email" href="emailto:"><i class="icon-letter-opacity"></i>info@transsibmetall.ru</a>
                <div class="header__top__lang">
                    <select name="lang" id="">
                        <option value="rus">RU</option>
                        <option value="EN">EN</option>
                    </select>
                </div>
            </div>
            <div class="header__top__row__bootom">
                <a href="/">Главная</a>
                <a href="/catalog.html">Каталог</a>
                <a href="/contact.html">Контакты</a>
                <a href="/delivery.html">Доставка</a>
            </div>
        </div>
        <div class="header__top__box">

            <a class="header__top__box__left popup-with-form" href="#test-subscribe"><img src="img/letter.svg" alt="">Подписаться на прайс</a>
            <a class="header__top__box__right" href="transsibmetall_23.12.2019.pdf" target="_blank"><img src="img/cloud.svg" alt="">Скачать прайс (10.12.19)</a>
        </div>
    </div>
</div>
