<section class="questions">
    <div class="questions__row">
        <div class="questions__row__left">
            <div class="questions__row__left__wrap">
                <div class="h2__box__qg">
                    <h2>У Вас остались вопросы?</h2>
                    <p>
                        Заполните форму обратной связи, и мы обязательно свяжемся с Вами в ближайшее время, чтобы ответить на все интересующие Вас вопросы!
                    </p>
                    <img src="img/line.svg" alt="line.svg">
                </div>

                <form method="post" class="questions__form" action="send.php">
                    <div class="questions__form__input">
                        <label for="inputName">Введите Ваше имя:</label>
                        <input type="text" id="inputName" name="name" placeholder="Иванов Иван" required>
                        <i class="icon-man"></i>
                    </div>
                    <div class="questions__form__input">
                        <label for="inputTel">Ваш номер телефона:</label>
                        <input type="text" id="inputTel" name="tel" placeholder="+7 (000) 000 - 00 - 00" required>
                        <i class="icon-tel"></i>
                    </div>
                    <div class="questions__form__input">
                        <label for="inputEmail">Ваш e-mail адрес:</label>
                        <input type="text" id="inputEmail" name="tel" placeholder="example@mail.com" required>
                        <i class="icon-letter"></i>
                    </div>
                    <div class="questions__form__submit">
                        <i class="icon-airplane"></i>
                         <input type="submit" value="Отправить заявку">
                    </div>
                </form>
            </div>
        </div>
        <div class="questions__row__right">
            <img src="img/questions-right.png" alt="questions">
        </div>
    </div>
</section>